page-home {

    .morning-routine.routine-card {
        height: 100px;
        background-image: url('../../assets/icon/favicon.ico');
    }
    .routine-card {
        width: 100%;
        height: 40px;
        border-radius: 4px;
        background-color: fuchsia;
    }
}
